
/* FOOTER Styles */
/* 1. Stil für den gesamten Footer */
.site-footer {
    background-color: #8fc260;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    color: #4e4d4d;
    font-family: 'Mulish', sans-serif;
}

/* 2. Der Flex-Container */
.site-footer__container {
    display: flex;
    justify-content: space-between; /* Die drei Unterelemente (Copyright, Links, Social) gleichmäßig aufteilen */
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Innenabstand links und rechts, um den Inhalt vom Rand abzuheben */
}

/* 2. Der Flex-Container */
.site-footer__copyrigt {
    color: white;
}

/* 3. Stil für Links und Navigation */
.site-footer__links a {
    color: #4e4d4d;
    text-decoration: none; /* Unterstreichung entfernen */
    margin: 0 10px;
    padding: 5px 0;
    transition: color 0.3s;
}

/* 4. Stil für footer-btn */
.site-footer__links a.site-footer__btn {
    /* Löse das Problem, dass Padding keine Wirkung zeigt */
    display: inline-block;
    margin-right: 5px;
    padding: 8px 8px;
    border-radius: 20px;
    font-weight: 500;
}

a.site-footer__btn:hover {
    background-color: #4e4d4d;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Hier prüfen, ob die Button-Stile mit denen des Headers übereinstimmen sollen */

/* 5. Style für social Media Icon */
.site-footer__social a {
    text-decoration: none;
    margin-left: 8px; /* Abstand zwischen den Icons */
}

.site-footer__social i {
    /* Das eigentliche Font Awesome Icon */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px; /* Breite des Icons */
    height: 30px; /* Höhe des Icons */
    border-radius: 50%; /* Runder Hintergrund */
    background-color: #4e4d4d; /* Dunkelgrauer runder Hintergrund */
    color: white; /* Farbe des Icons selbst */
    font-size: 16px; /* Icon-Größe */
    transition: background-color 0.3s;
}

.site-footer__social i:hover {
    background-color: #000;
}

/* Hintergrundfarbe wird beim Hovern Schwarz */