<header class="site-header">
    <div class="site-header__container">
        <div class="site-header__logo">
            <img src="../../assets/images/logo_green_no_bg_clean.png" alt="CarStats Logo">
        </div>

        <!-- Hamburger-Checkbox -->
        <input type="checkbox" id="site-header__nav-toggle" class="site-header__nav-toggle">
        <label for="site-header__nav-toggle" class="site-header__hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav class="site-header__nav">
            <ul class="site-header__nav-list">
                <li><a href="/src/index.html" class="site-header__nav-link active">Startseite</a></li>
                <li><a href="/src/kosteneingabe.html" class="site-header__nav-link">Kosteneingabe</a></li>
                <li><a href= "/src/index.html" class="site-header__nav-link active">Startseite</a></li>
                <li><a href="/src/kosten.html" class="site-header__nav-link">Kosteneingabe</a></li>
                <li><a href="/src/statistiken.html" class="site-header__nav-link">Statistiken</a></li>
                <li><a href="/src/erinnerungen.html" class="site-header__nav-link">Erinnerungen</a></li>
                <li><a href="/src/garage.html" class="site-header__nav-link">Garage</a></li>
            </ul>
        </nav>

        <div class="site-header__lang-switch">
            <button class="site-header__lang-btn">DE</button>
            <button class="site-header__lang-btn">EN</button>
        </div>
    </div>
</header>