<header class="site-header">
    <div class="site-header__container">
        <div class="site-header__logo">
            <a href="index.html">
                <img src="../../assets/images/logo_green_no_bg_clean.png" alt="CarStats Logo">
            </a>
        </div>
        <nav class="site-header__nav">
            <ul class="site-header__nav-list">
                <li><a href="kosteneingabe.html" class="site-header__nav-link">Kosteneingabe</a></li>
                <li><a href="statistiken.html" class="site-header__nav-link">Statistiken</a></li>
                <li><a href="erinnerungen.html" class="site-header__nav-link">Erinnerungen</a></li>
                <li><a href="garage.html" class="site-header__nav-link">Garage</a></li>
            </ul>
        </nav>
        <div class="site-header__lang-switch">
            <button class="site-header__lang-btn">DE</button>
            <button class="site-header__lang-btn">EN</button>
        </div>
        <div class="site-header__profile">
            <a href="index.html" class="profile-btn" title="Zum Profil">
                <img src="../../assets/images/profile_avatar.png" alt="Profil" class="profile-img">
            </a>
        </div>
    </div>
</header>