@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
:root {
    --green-50:#F8FAF7;
    --green-100:#DAEDD5;
    --green-200:#B8D6B0;
    --green-250:#A3CF93;
    --green-300:#BCDBB4;
    --green-600:#155A03;
    --green-700:#104502;

    --text-main: #000000;
    --white: #ffffff;
    
    --green-main: #415b2b;
    --green-accent: #628243;
    --grey-bg: #595959;
    --yellow-accent: #e5eae3;
    --gray-border: #e5eae3;
    --header-height: 72px;
    --accent: #155A03;/* gute farbe, leichter blaustich #007b4f */
    --accent-alt: #007b4f;
    --green-button-hover: #0E4402;   /* passendes hovergrün zu altem accent #00643f; */
}
body {
    margin: 0;
    font-family: Inter, 'Segoe UI', sans-serif;
    background: #f7f9fa;
    color: #284e41;
}